.form {
  display: flex;
}

.form md-card {
  flex-grow: 1;
}

md-card {
  width: 300px;
  box-sizing: border-box;
  margin: 16px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}
