<md-card-content>
  <md-chip-list>
    <md-chip *ngFor="let person of people">
      <span>{{person.name}}</span>
      <!-- md-icon>close</md-icon -->
    </md-chip>
  </md-chip-list>
</md-card-content>

<md-input-container>
  <input md-input
        placeholder="Add you name..."
        maxlength="20"
        #input
        (keyup.enter)="add(input)">
  <md-hint align="end">{{input.value.length}} / 20</md-hint>
</md-input-container>


