<div class="form">
  <md-card>
    <md-card-title>Create your dog's profile</md-card-title>
    <md-card-content>

      <!-- md-input -->
      <form>
        <md-input placeholder="Name"></md-input>
        <md-input placeholder="Favorite toy"></md-input>
        <md-input placeholder="Description"></md-input>

        <!-- md-radio-group -->
        <md-radio-group>
          <md-radio-button value="Looking for love">Looking for love</md-radio-button>
          <md-radio-button value="Just browsing">Just browsing</md-radio-button>
        </md-radio-group>

        <!-- md-checkbox-->
        <div>
          <md-checkbox indeterminate="true">Is a good dog</md-checkbox>
        </div>
      </form>
    </md-card-content>

    <!-- Chips -->
    <app-chips></app-chips>

    <!-- button -->
    <md-card-actions align="end">
      <button md-raised-button color="accent" (click)="saveData()">POST</button>
    </md-card-actions>

  </md-card>
</div>
