<md-sidenav-layout fullscreen>

  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item *ngFor="let view of views">
        <md-icon md-list-icon>{{view.icon}}</md-icon>
        <span md-line>{{view.name}}</span>
        <span md-line class="secondary">{{view.description}}</span>
      </a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    Menu
    <button md-fab (click)="formShowing=!formShowing">
      <md-icon>add</md-icon>
    </button>
    <span class="demo-fill-remaining"></span>
  </md-toolbar>

  <!-- Form -->
  <app-form *ngIf="formShowing"></app-form>
  <!-- Card -->
  <app-card></app-card>

</md-sidenav-layout>
